@import "./bubbles";
@import "./slides";

body {
  font-family: Roboto;
}

#pageNumber {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  .slide-title {
    font-family: Roboto;
    color: rgb(210, 210, 210);
    font-size: 20px;
    line-height: 1;
  }
  .slide-number {
    font-family: Roboto;
    color: #1e1e1e;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    .value-container {
      padding-left: 0.5em;
      display: flex;
    }
    .value {
      color: rgb(210, 210, 210);
    }
  }
}

.step {}

.circle {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  width: 800px;
  height: 800px;
}
